.gameover {
  font-size: 1.6rem;
  max-width: 40rem;
  padding: 2rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gameover h2,
.gameover p {
  margin-bottom: 4rem;
  font-size: 1.6rem;
}

.score {
  color: #0378f6;
  }

  .score:hover{
    transform: scale(1.1) rotate(355deg);
  }

.gameover img {
  margin: 6rem;
  height: 20rem;
}
