.questions {
  font-size: 1.6rem;
  max-width: 60rem;
  padding: 2rem 0;
  margin: 2.5rem 0 2.5rem 0;
  height: 100%;
  background-color: rgb(3, 120, 246);
  background-color: rgb(0, 76, 158);
  border-radius: 1rem;
  padding: 2rem;
}

.questions h2 {
  margin-bottom: 3rem;
}

.questions p {
  margin: 1rem 0 3rem 0;
}

.questions button {
  margin-top: 1.6rem;
  border: 0.2rem solid rgb(83, 159, 240);
}
